{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="image" placeholder="Image URL">
        </div>
        <div class="form-group  form-inline">
            <label for="price">Price:</label>
            <input class="form-control" type="number" name="price">
        </div>
        <div class="form-group form-inline">
            <label for="active">Active</label>
            <input class="form-control" type="checkbox" name="active">
        </div>
        <div class="form-group">
            <label for="Category">Select Category:</label>
            <select name="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
            </select>
        </div>
        <div>
            <input class="btn btn-success" type="submit" value="Create">
        </div>
    </form>

    <div><a href="{% url 'index' %}">Cancel</a></div>

{% endblock %}